[submodule ".\\themes\\vex"]
	path = .\\themes\\vex
	url = https://github.com/themefisher/vex-hugo
[submodule ".\\themes\\bigspring"]
	path = .\\themes\\bigspring
	url = https://github.com/themefisher/bigspring-hugo-startup-theme
